@import "font-awesome";

$danger-link-hover-color: rgb(255, 0, 0); 
$danger-link-color: transparentize($danger-link-hover-color, 0.3);

$success-link-hover-color: rgb(0, 155, 0);
$success-link-color: transparentize($success-link-hover-color, 0.3);

a.success-link {
  color: $success-link-color!important;
  &:hover { color: $success-link-hover-color!important; }
}

$input-border-radius: 0;
$border-radius-large: 0;
$border-radius-base: 0;
$border-radius-small: 0;

@import "bootstrap";

$background-block-color: rgba(0,0,0,0.1);
$background-block-border-color: rgba(0,0,0,0.2);


div.content {
  margin-top: 50px;
}

nav.navbar #logout { 
  color: $danger-link-color;
  &:hover { color: $danger-link-hover-color; }
  margin-right: 25px; 
}

form#signin {
  width: 40%;
  margin: auto;
  margin-top: 100px;

  padding: 30px 50px;
  background-color: $background-block-color;
  border: 1px solid $background-block-border-color;
  border-radius: 5px;

  button { margin-top: -30px; }
}

.center-text { text-align: center; }

img.big-icon {
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 5%;
}

.sub_header {
  padding: 20px;
  text-align: center;
  background-color: $background-block-color;
  border-bottom: 1px solid $background-block-border-color;

  form .form-group.main-control { width: 40%; }
}
